/* iPad */
@media only screen
and (min-width : 569px)
and (max-width : 768px)  {
	div.empty { display: none; }
	div.contributors, div.skills { height: auto; min-height: 5px; }
} /* End Media Query */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
	div.home-project-hover {
		display: none;
	}
	div.empty { display: block; }
	div.contributors, div.skills { height: auto; min-height: 300px; }
} /* End Media Query */

/* iPhone 5 */

@media only screen
and (min-width : 320px)
and (max-width : 568px) {
	div.back-home {
		display: none;
	}
	div.empty { display: none; }
	div.contributors, div.skills { height: auto; min-height: 5px; }
} /* End Media Query */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	div.home-project-hover {
		display: none;
	}
	div.empty { display: none; }
	div.contributors, div.skills { height: auto; min-height: 5px; }
} /* End Media Query */


/* iPhone 4 */

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
	div.back-home {
		display: none;
	}
	div.empty { display: none; }
	div.contributors, div.skills { height: auto; min-height: 5px; }
} /* End Media Query */
