/* Typography */

body {
	font-size: 16px;
	background: #fff;
	color: #3a3d3d;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	color: $lightgreen;
}

h1.home-h1, h2 {
	font-family: $fontstack;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: $fontweightheavy;
}

h1.project-long-name, h1 {
	font-family: $fontstack;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	padding: 0 30px;
	max-width: 500px;
	margin: 0 auto;
	font-weight: $fontweightheavy;
}

p.hm-about, p.home-project-title, p {
	font-size: 14px;
	line-height: 24px;
	font-family: $fontstack;
	padding: 0 30px;
}

p.project-blurb {
	font-size: 14px;
	line-height: 24px;
	font-family: $fontstack;
	text-align: center;
	max-width: 781px;
	margin: 0 auto 20px auto;
	padding: 0 30px;
}

p.home-project-title {
	margin: 10px auto 40px auto;
}

.underscore-top {
	width: 75px;
	border-top: 2px dotted $gray;
	height: 1px;
	margin: 18px auto 20px auto;
	display: block;
}

div.underscore-bottom {
	width: 75px;
	border-top: 2px dotted $gray;
	height: 1px;
	margin: 0 auto 20px auto;
	display: block;
}

/* Default Link Styles */
a:link {
  color: $pink;
  text-decoration: none;
  line-height: inherit; }
	a:visited {
	  color: $pink;
  }
  a:hover, a:focus {
    color: $lightgreen; }

  a img {
    border: none; }

/* Structure */

.wpengine-promo {
	display: none;
	visibility: hidden;
}

div#content {
	padding: 0;
	margin: 30px auto 0 auto;
}

div.clear {
	clear: both;
	width: 100%;
}

div.nopadding {
	padding: 0;
}

/* Header */

#header {
	height: auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	top: 0;
	position: relative;
}

div.header-inner {
	margin: 0 auto;
	padding: 0 30px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.logo-container {
	background: $lightgray;
	display: block;
	width: 144px;
	padding: 22px;
	float: left;
}

nav {
	float: right;
	font-family: $fontstack;
	font-weight: $fontweightheavy;
	font-size: 14px;
	margin-top: 72px;

	a {
		margin-left: 25px;
	}
}

#workscroll {
	display: none;
}

.home {
	#workscroll {
		display: inline-block;
	}
	.hide-home {
		display: none;
	}
}

.logo {
	display: block;
	margin: 0 auto;
	opacity: 1;
	transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
}

.logo:hover {
	opacity: .7;
}

/* HOME */
.home {
	text-align: center;
}

.home #content, .blog #content, .single-post #content {
	max-width: 781px;
}

.kenny {
	width: 261px;
	height: 291px;
	margin: -60px auto 55px auto;
}

.kenny-color {
	position: relative;
	margin-top: -312px;
	display: none;
}

.home-projects {
	margin: 50px auto 0 auto;
	padding: 0 30px;
}

.home-project-image img {
	border-radius: 50%;
	width: 189px;
	height: 189px;
}

div.home-project-hover {
	width: 189px;
	height: 189px;
	background: url('../images/project-hover.png') no-repeat top center;
	margin: -188px auto 0 auto;
	position: relative;
	opacity: 0;
}

body.safari div.home-project-hover {
	margin: -188px 0 0 11.5px;
}

div.social {
	margin: 40px auto 90px auto;
}

div.social img {
	margin-right: 10px;
}

div.social img.last {
	margin-right: 0;
}

/* Single Project Page */

div.contributors, div.empty {
	background: #e2e2e2;
	min-height: 300px;
}

body.ie8 div.empty {
	display: none;
}

div.skills {
	background: #f1f1f1;
	min-height: 300px;
}

div.contributors .contributors-content, div.skills .skills-content {
	margin: 40px;
}

div.contributors ul li, div.skills ul li {
	margin-left: 18px;
	font-size: 14px;
	line-height: 24px;
	font-family: $fontstack;
}

div.back-home {
	padding: 0 30px;
	float: right;
	margin-bottom: -20px;
}

div.back-home a:hover {
	opacity: 0.8;
}


/* Friends Page/Blank Template */

body.page-template-templatesblank-php {
	text-align: center;
}

body.page-template-templatesblank-php div.blank a {
	font-size: 14px;
	line-height: 24px;
	font-family: $fontstack;
	display: block;
}

body.page-template-templatesblank-php h1 {
	font-family: $fontstack;
	font-size: 14px !important;
	text-transform: uppercase;
	padding: 0 30px;
	margin-top: 30px;
	font-weight: $fontweightheavy;
}

/* Footer */

div#footer {
	margin: 180px auto 0 auto;
	padding: 0 30px;
	width: 100%;
	text-align: center;
}

div#footer p {
	font-size: 12px;
	font-family: $fontstack;
}



/* iPad */
@media only screen
and (min-width : 569px)
and (max-width : 768px)  {
	div.empty { display: none; }
	div.contributors, div.skills { height: auto; min-height: 5px; }
} /* End Media Query */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
	div.home-project-hover {
		display: none;
	}
	div.empty { display: block; }
	div.contributors, div.skills { height: auto; min-height: 300px; }
} /* End Media Query */

/* iPhone 5 */

@media only screen
and (min-width : 320px)
and (max-width : 568px) {
	div.back-home {
		display: none;
	}
	div.empty { display: none; }
	div.contributors, div.skills { height: auto; min-height: 5px; }
} /* End Media Query */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	div.home-project-hover {
		display: none;
	}
	div.empty { display: none; }
	div.contributors, div.skills { height: auto; min-height: 5px; }
} /* End Media Query */


/* iPhone 4 */

@media only screen
and (min-width : 320px)
and (max-width : 480px) {
	div.back-home {
		display: none;
	}
	div.empty { display: none; }
	div.contributors, div.skills { height: auto; min-height: 5px; }
} /* End Media Query */
