// Single Project Page
.project-img {
  img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
}

.project-info-wrapper {
  height: auto;
  background: #e2e2e2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 100%;
}

div.contributors, div.empty {
	background: #e2e2e2;
	min-height: 300px;
}

body.ie8 div.empty {
	display: none;
}

div.skills {
	background: #f1f1f1;
	min-height: 300px;
}

div.contributors .contributors-content, div.skills .skills-content {
	margin: 40px;
}

.single {
  .contributors ul, .skills ul {
    padding: 0 30px;
  }
}

div.contributors ul li, div.skills ul li {
	margin-left: 18px;
	font-size: 14px;
	line-height: 24px;
	font-family: $fontstack;
}

div.back-home {
	padding: 0 30px;
	float: right;
	margin-bottom: -20px;
}

div.back-home a:hover {
	opacity: 0.8;
}
