// Colors
$pink: #ec0a90;
$lightgreen: #78c0d0;
$deeppurple: #0e1463;
$orange: #f7ac5a;
$lightgray: #f6f6f6;
$gray: #9c9c9c;

// Fonts
$fontstack: 'futura-pt', Helvetica, Arial, sans-serif;
$fontweightheavy: 700;
